/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/background3.png) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

header .banner-text h1:hover { color: #11ABB0; }

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #2B2B2B;
   padding-top: 50px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #11ABB0;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #fff;
   font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
   font-size: 18px;
}
#about .profile-pic {
   position: relative;
   width: 180px;
   height: 180px;
   border-radius: 100%;
}
#about .contact-details { width: 58.33333%; }
#about .download {
   width: 41.66667%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#work {
   background: #effefa;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#work a, #work a:visited  { color: #11ABB0; }
#work a:hover, #work a:focus { color: #313131; }

#work h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#work h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#work h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   color: #11ABB0;
}

#work .header-col { padding-top: 9px; }
#work .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#work .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}

#work p {
   line-height: 30px;
   font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
   font-size: 18px;
}

#work .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#work .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* h. Certification Section
/* ------------------------------------------------------------------ */
.kubernetes-logo-image {
   width: 50px; /* Adjust width as needed */
   height: auto; /* Maintain aspect ratio */
   margin-right: 10px; /* Adjust spacing */
   float: right;
 }
 .aws-logo-image {
   width: 50px; /* Adjust width as needed */
   height: auto; /* Maintain aspect ratio */
   margin-right: 10px; /* Adjust spacing */
   float: right;
 }
 .terraform-logo-image {
   width: 50px; /* Adjust width as needed */
   height: auto; /* Maintain aspect ratio */
   margin-right: 10px; /* Adjust spacing */
   float: right;
 }

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 80%;
	float: left;
	padding: 0;
	text-align: left;
   height: 10%;
}

.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 30px;
  	border-radius: 10px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -29px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 30px;
   line-height: 30px;
   border-radius: 3px 3px 3px 3px;
} 
 
/*	Skill levels */
.aws {
  	width: 80%;
}
.azure {
   width: 60%;
}
.gcp {
   width: 40%;
}
.tfcloud {
   width: 70%;
}
.terraform {
   width: 80%;
}
.cft {
   width: 60%;
}
.jenkins {
   width: 80%;
}
.codepipeline {
   width: 90%;
}
.github_actions {
   width: 70%;
}
.spinnaker {
   width: 60%;
}
.azure_devops {
   width: 70%;
}
.gitlab {
   width: 80%;
}
.github {
   width: 90%;
}
.codecommit {
   width: 90%;
}
.bitbucket {
   width: 90%;
}
.gitlab-repo {
   width: 90%;
}
.linux {
   width: 80%;
}
.windows {
   width: 70%;
}
.docker {
   width: 85%;
}
.containerd {
   width: 70%;
}
.kubernetes {
   width: 75%;
}
.ecs {
   width: 80%;
}
.aks {
   width: 60%;
}
.gke {
   width: 40%;
}
.swarm {
   width: 60%;
}
.promethues {
   width: 75%;
}
.grafana {
   width: 80%;
}
.cloudwatch {
   width: 80%;
}
.datadog {
   width: 60%;
}
.elk_stack {
   width: 70%;
}
.nagios {
   width: 60%;
}
.opensearch {
   width: 70%;
}
.bash {
   width: 80%;
}
.pwsh {
   width: 60%;
}
.python {
   width: 60%;
}
.sonarqube {
   width: 70%;
}
.codeguru {
   width: 60%;
}
.jmeter {
   width: 60%;
}
.maven {
   width: 70%;
}
.gradle {
   width: 70%;
}
.codebuild {
   width: 60%;
}
.gitlabrunner {
   width: 60%;
}
.ansible {
   width: 70%;
}
.chef {
   width: 40%;
}
.puppet {
   width: 40%;
}
.dockerhub {
   width: 80%;
}
.nexus {
   width: 70%;
}
.gitlabregistry {
   width: 70%;
}
.ecr {
   width: 80%;
}
.acr {
   width: 60%;
}
.gcr {
   width: 60%;
}
.vault {
   width: 60%;
}
.secretmanager {
   width: 70%;
}
.securityhub {
   width: 70%;
}
.guarduty {
   width: 70%;
}
.mysql {
   width: 50%;
}
.postgres {
   width: 40%;
}
/* .html {
   width: 50%;
}
.js {
   width: 40%;
}
 .nodejs {
   width: 50%;
}
.reactjs {
   width: 50%;
}
.springboot {
   width: 50%;
}
.figma {
   width: 70%;
}   */
/* Style the tabs */
/* Style the tab text */

.tabs {
   display: flex;
   flex-wrap: wrap; /* Allow tabs to wrap to a new line */
   justify-content: space-between; /* Distribute tabs evenly */
   padding: 0 10px; /* Add padding to the sides */
 }

.tablinks {
   cursor: pointer;
   border: none;
   outline: n8px ridge rgba(170, 50, 220, .6);
   border-radius: 2rem;
   background: none;
   font-size: 16px;
   margin-right: 10px; /* Adjust spacing between tabs */
   text-decoration: none; /* Remove default underline */
   color: #333; /* Default tab text color */
   transition: all 0.5s;    /* Smooth transition */
   flex: auto; /* Allow tabs to shrink and grow as needed */
   padding: 10px 20px; /* Adjust padding as needed */
 }
 /* Add underline to active tab */
 .tablinks.active {
   border-bottom: 2px solid #333; /* Add underline to active tab */
 }
 /* Style the content */
 .tabcontent {
   display: none;
   font-size: 16px;
   margin-right: 10px;
 }
.tablinks:hover {
   background-color: #ddd;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #191919;
   padding-top: 96px;
   padding-bottom: 102px;
   color: #636363;
}
#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact h2 span { color: #EBEEEE; }

#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #ebeeee;
}

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
	display: inline-block;
	float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
	color: #eee;
	background: #373233;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color: #11ABB0;
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #0D0D0D;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 26%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact span.required {
	color: #11ABB0;
	font-size: 13px;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


/* Twitter Feed */
#twitter {
   margin-top: 12px;
   padding: 0;
}
#twitter li {
   margin: 6px 0px 12px 0;
   line-height: 30px;
}
#twitter li span {
   display: block;
}
#twitter li b a {
   font: 13px/36px 'opensans-regular', Sans-serif;
   color: #474747 !important;
   border: none;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }



